<img id="logo" src="./images/logo.png">
<div id="row no-gutters">
    {{#each articles}}
    <div class="card col-12 col-md-4">
        <img class="news-image card-img-top" src="{{image}}">
        <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            <p class="card-text">{{summary}}</p>
            <a class="btn btn-primary" href="{{link}}">Read More</a>
        </div>
    </div>
    {{/each}}
</div>