body {
    background-image: url("../images/background.png");
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#logo {
    width: 35%;
    margin-bottom: 20px;
    margin-right: 1vw;
    float: left;
}

#title {
    font-size: 5.5vw;
    font-family: 'Press Start 2P', cursive;
}

.card {
    width: 45%;
    margin-bottom: 40px;
}

.news-image {
    height: 225px;
}

.container {
    display: flex;
    flex-wrap: wrap;
}